@tailwind base;
@tailwind components;

/* Sketch Chalk Font (OTF) */
@font-face {
  font-family: "Sketch Chalk";
  src: url("../public/assets/fonts/SketchChalk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind utilities;

body {
  @apply font-sans;
}

::-webkit-scrollbar {
  display: none;
}